<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ _site_name }} Bend, Oregon ~ Local Restaurant</title>
	<script>document.cookie='resolution='+Math.max(screen.width,screen.height)+'; path=/';</script>
	<link rel="stylesheet" href="{{ theme:css src="styles" }}">
	<link rel="icon" type="image/png" href="{{ theme:img src="favicon.ico" }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
	<script src="{{ theme:js src="min/plugins-ck" }}"></script>
	<script src="{{ theme:js src="min/scripts-ck" }}"></script>
	<script type="text/javascript" src="//use.typekit.net/uxb4zbu.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>