<div id="container" class="container">
	<div id="center-container" class="center-container">
		<div id="smallscreen-nav-icon" class="smallscreen-nav-icon">
			<div>Scroll down</div>
			<div class="mobile-nav-arrow"></div>
		</div>
		<nav id="navigation" class="home-navigation">
			<div><a href="#food-drink-section" class="nav-food-drink">Food &#038; Drink</a></div>
			<div><a href="#find-us-section" class="nav-find-us">Find Us</a></div>
			<div><a href="#about-section" class="nav-about">About</a></div>
			<div><a href="https://www.facebook.com/jacksonscorner" class="nav-facebook" target="_blank">Facebook</a></div>
			<!-- <div><a href="" class="nav-twitter">Twitter</a></div> -->
			<div id="nav-dot">
				<div class="nav-days">Mon. - Sun.</div>
				<div class="nav-times">7AM - 9PM</div>
			</div>
		</nav>
	</div>
</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
